@font-face{
 font-family:'lcd-matrix-font';
 src: url('../fonts/repet.ttf');
}


#db_clustering_plot{
  height:100%;
  width: 75%;
  position: fixed;
  margin-top: 20px;
  left: 0;
  top: 0;
}

.db_content{
    height: 100%;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
}

#analysis_container{
    top: 0;
    left: 75%;
    height:100%;
    width:25%;
    position: fixed;
}

#db_blockly{
    top: 0;
    height:100%;
    width:100%;
    position: fixed;
    margin-top: 50px;
}


.ui-resizable-handle{
    background-color: #8bab42;
}


#experiment_id {
    z-index: 10000;
}